version: 2.1

parameters:
  run_from_lambda:
    type: boolean
    default: false

jobs:
  terraform-dev:
    docker:
      - image: cimg/base:stable
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Terraform 1.14.3
          command: |
            TERRAFORM_VERSION=1.14.3
            curl -fsSL https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip -o terraform.zip
            unzip terraform.zip
            sudo mv terraform /usr/local/bin/
            terraform version
      - run:
          name: Terraform Init
          command: terraform init

      - run:
          name: Select Dev Workspace
          command: |
            terraform workspace select dev || terraform workspace new dev

      - run:
          name: Terraform Apply (Dev)
          command: terraform apply -auto-approve -var-file=dev.tfvars

workflows:
  terraform-dev:
    when: << pipeline.parameters.run_from_lambda >>
    jobs:
      - terraform-dev
