version: 2.1

parameters:
  run_from_lambda:
    type: boolean
    default: false

jobs:
  terraform-dev:
    docker:
      - image: cimg/base:stable
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Terraform
          command: |
            sudo apt-get update
            sudo apt-get install -y wget unzip
            wget https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
            unzip terraform_1.6.6_linux_amd64.zip
            sudo mv terraform /usr/local/bin/

      - run:
          name: Terraform Init
          command: terraform init

      - run:
          name: Select Dev Workspace
          command: |
            terraform workspace select dev || terraform workspace new dev

      - run:
          name: Terraform Apply (Dev)
          command: terraform apply -auto-approve -var-file=dev.tfvars

workflows:
  terraform-dev:
    when: << pipeline.parameters.run_from_lambda >>
    jobs:
      - terraform-dev
